$rosewater: #E59479;
$flamingo: #C56783;
$pink: #A62568;
$mauve: #A625A4;
$red: #E75545;
$maroon: #E76545;
$peach: #E35649;
$yellow: #986800;
$green: #4EA24C;
$teal: #00BCB6;
$sky: #0084BC;
$sapphire: #0077BC;
$blue: #3D74F6;
$lavender: #985497;
$text: #383A42;
$subtext1: #4D505B;
$subtext0: #636674;
$overlay2: #7B7C8A;
$overlay1: #94949E;
$overlay0: #AEADB3;
$surface2: #C9C5C5;
$surface1: #DAD8D8;
$surface0: #EDEDED;
$base: #FAFAFA;
$mantle: #EAEAEB;
$crust: #DBDBDC;
$theme: "light";
