  $rosewater: rgb(245, 224, 220);
  $flamingo: rgb(242, 205, 205);
  $pink: rgb(245, 194, 231);
  $mauve: rgb(203, 166, 247);
  $red: rgb(243, 139, 168);
  $maroon: rgb(235, 160, 172);
  $peach: rgb(250, 179, 135);
  $yellow: rgb(249, 226, 175);
  $green: rgb(166, 227, 161);
  $teal: rgb(148, 226, 213);
  $sky: rgb(137, 220, 235);
  $sapphire: rgb(116, 199, 236);
  $blue: rgb(135, 176, 249);
  $lavender: rgb(180, 190, 254);
  $text: rgb(217, 224, 238);
  $subtext1: rgb(211, 205, 214);
  $subtext0: rgb(190, 179, 193);
  $overlay2: rgb(167, 156, 176);
  $overlay1: rgb(152, 139, 162);
  $overlay0: rgb(109, 107, 125);
  $surface2: rgb(87, 82, 105);
  $surface1: rgb(45, 40, 72);
  $surface0: rgb(48, 45, 65);
  $base: rgb(30, 30, 46);
  $mantle: rgb(26, 24, 38);
  $crust: rgb(22, 19, 32);
