$rosewater: #F5E0DC;
$flamingo: #F2CDCD;
$pink: #F5C2E7;
$mauve: #CBA6F7;
$red: #F38BA8;
$maroon: #EBA0AC;
$peach: #FAB387;
$yellow: #F9E2AF;
$green: #A6E3A1;
$teal: #94E2D5;
$sky: #89DCEB;
$sapphire: #74C7EC;
$blue: #87B0F9;
$lavender: #B4BEFE;
$text: #D9E0EE;
$subtext1: #D3CDD6;
$subtext0: #BEB3C1;
$overlay2: #A79CB0;
$overlay1: #988BA2;
$overlay0: #6D6B7D;
$surface2: #575269;
$surface1: #2D2848;
$surface0: #302D41;
$base: #1E1E2E;
$mantle: #1A1826;
$crust: #161320;
