$rosewater: #ECDED5;
$flamingo: #EAC3D6;
$pink: #EA9FC2;
$mauve: #D79FEA;
$red: #EA9F9F;
$maroon: #EAA99F;
$peach: #EAB29F;
$yellow: #EAC99F;
$green: #AED5A5;
$teal: #A4EAC0;
$sky: #AEE0CE;
$sapphire: #A3E1EB;
$blue: #A3C8EB;
$lavender: #B6BAE2;
$text: #FADAC3;
$subtext1: #F7CCAC;
$subtext0: #EBC0A0;
$overlay2: #C7A388;
$overlay1: #AD907C;
$overlay0: #786660;
$surface2: #5E5456;
$surface1: #554D52;
$surface0: #4C464E;
$base: #3A3845;
$mantle: #2F2E38;
$crust: #26252D;
$theme: "dark";
