$rosewater: rgb(236, 222, 213);
$flamingo: rgb(234, 195, 214);
$pink: rgb(234, 159, 194);
$mauve: rgb(215, 159, 234);
$red: rgb(234, 159, 159);
$maroon: rgb(234, 169, 159);
$peach: rgb(234, 178, 159);
$yellow: rgb(234, 201, 159);
$green: rgb(174, 213, 165);
$teal: rgb(164, 234, 192);
$sky: rgb(174, 224, 206);
$sapphire: rgb(163, 225, 235);
$blue: rgb(163, 200, 235);
$lavender: rgb(182, 186, 226);
$text: rgb(250, 218, 195);
$subtext1: rgb(247, 204, 172);
$subtext0: rgb(235, 192, 160);
$overlay2: rgb(199, 163, 136);
$overlay1: rgb(173, 144, 124);
$overlay0: rgb(120, 102, 96);
$surface2: rgb(94, 84, 86);
$surface1: rgb(85, 77, 82);
$surface0: rgb(76, 70, 78);
$base: rgb(58, 56, 69);
$mantle: rgb(47, 46, 56);
$crust: rgb(38, 37, 45);
