$rosewater: 236, 222, 213;
$flamingo: 234, 195, 214;
$pink: 234, 159, 194;
$mauve: 215, 159, 234;
$red: 234, 159, 159;
$maroon: 234, 169, 159;
$peach: 234, 178, 159;
$yellow: 234, 201, 159;
$green: 174, 213, 165;
$teal: 164, 234, 192;
$sky: 174, 224, 206;
$sapphire: 163, 225, 235;
$blue: 163, 200, 235;
$lavender: 182, 186, 226;
$text: 250, 218, 195;
$subtext1: 247, 204, 172;
$subtext0: 235, 192, 160;
$overlay2: 199, 163, 136;
$overlay1: 173, 144, 124;
$overlay0: 120, 102, 96;
$surface2: 94, 84, 86;
$surface1: 85, 77, 82;
$surface0: 76, 70, 78;
$base: 58, 56, 69;
$mantle: 47, 46, 56;
$crust: 38, 37, 45;
