$rosewater: #F6C999;
$flamingo: #F5BDA6;
$pink: #E49DF8;
$mauve: #BD93F9;
$red: #FF5555;
$maroon: #E66666;
$peach: #FFB86C;
$yellow: #F1FA8C;
$green: #50FA7B;
$teal: #68DBD3;
$sky: #8BE9FD;
$sapphire: #68C5F0;
$blue: #5F7EDE;
$lavender: #C592DE;
$text: #F8F8F2;
$subtext1: #D3D3C5;
$subtext0: #BFBFB5;
$overlay2: #8B8FA7;
$overlay1: #6E7291;
$overlay0: #585C74;
$surface2: #44475A;
$surface1: #383B4C;
$surface0: #303241;
$base: #282A36;
$mantle: #21222C;
$crust: #1A1B23;
