$rosewater: #E7C69B;
$flamingo: #E0BACF;
$pink: #E396AE;
$mauve: #B87B9D;
$red: #DA6362;
$maroon: #DA7462;
$peach: #D77F48;
$yellow: #BF983D;
$green: #899C40;
$teal: #569D79;
$sky: #569D90;
$sapphire: #569C9D;
$blue: #5A93A2;
$lavender: #B490CA;
$text: #D3C6AA;
$subtext1: #B6C0B4;
$subtext0: #9AA79D;
$overlay2: #859289;
$overlay1: #7F897D;
$overlay0: #515B61;
$surface2: #4A555B;
$surface1: #404C51;
$surface0: #374247;
$base: #2F383E;
$mantle: #272F34;
$crust: #22282C;
$theme: "dark";
