$rosewater: #DEB191;
$flamingo: #DDB5C2;
$pink: #E982BE;
$mauve: #B87A9C;
$red: #F85552;
$maroon: #F86852;
$peach: #F57D26;
$yellow: #BF983D;
$green: #899C40;
$teal: #569D79;
$sky: #569D8B;
$sapphire: #569D8A;
$blue: #5A93A2;
$lavender: #D0A1BB;
$text: #5C6A72;
$subtext1: #727D84;
$subtext0: #879686;
$overlay2: #939F91;
$overlay1: #A4AD9E;
$overlay0: #DFDBC8;
$surface2: #E3E0CC;
$surface1: #EDEAD5;
$surface0: #F3EFDA;
$base: #FDF6E3;
$mantle: #F6F1DD;
$crust: #F0EDD8;
