$rosewater: #F38019;
$flamingo: #CFA2AE;
$pink: #B16276;
$mauve: #B16286;
$red: #CC241D;
$maroon: #CC311D;
$peach: #D65D0E;
$yellow: #D79921;
$green: #98971A;
$teal: #66981A;
$sky: #1A984C;
$sapphire: #1A8598;
$blue: #458588;
$lavender: #926FAF;
$text: #282828;
$subtext1: #504945;
$subtext0: #665C54;
$overlay2: #95836A;
$overlay1: #A89985;
$overlay0: #BDAE93;
$surface2: #D6C4A1;
$surface1: #EBDBB3;
$surface0: #F2E5BC;
$base: #F9F5D7;
$mantle: #ECE1C4;
$crust: #E6D7B2;
$theme: "light";
