.theme-dark.anp-theme-ext-dark.ctp-kanagawa-dark {
$rosewater: 255, 200, 148;
$flamingo: 210, 126, 129;
$pink: 210, 126, 153;
$mauve: 149, 127, 184;
$red: 255, 93, 98;
$maroon: 228, 104, 118;
$peach: 255, 160, 102;
$yellow: 230, 195, 132;
$green: 152, 187, 108;
$teal: 122, 168, 159;
$sky: 163, 212, 213;
$sapphire: 127, 180, 202;
$blue: 126, 156, 216;
$lavender: 147, 138, 169;
$text: 220, 215, 186;
$subtext1: 212, 206, 170;
$subtext0: 200, 192, 147;
$overlay2: 95, 95, 124;
$overlay1: 84, 84, 109;
$overlay0: 73, 73, 95;
$surface2: 62, 62, 81;
$surface1: 54, 54, 69;
$surface0: 42, 42, 55;
$crust: 11, 11, 15;
$mantle: 22, 22, 29;
