$rosewater: rgb(255, 200, 148);
$flamingo: rgb(210, 126, 129);
$pink: rgb(210, 126, 153);
$mauve: rgb(149, 127, 184);
$red: rgb(255, 93, 98);
$maroon: rgb(228, 104, 118);
$peach: rgb(255, 160, 102);
$yellow: rgb(230, 195, 132);
$green: rgb(152, 187, 108);
$teal: rgb(122, 168, 159);
$sky: rgb(163, 212, 213);
$sapphire: rgb(127, 180, 202);
$blue: rgb(126, 156, 216);
$lavender: rgb(147, 138, 169);
$text: rgb(220, 215, 186);
$subtext1: rgb(212, 206, 170);
$subtext0: rgb(200, 192, 147);
$overlay2: rgb(95, 95, 124);
$overlay1: rgb(84, 84, 109);
$overlay0: rgb(73, 73, 95);
$surface2: rgb(62, 62, 81);
$surface1: rgb(54, 54, 69);
$surface0: rgb(42, 42, 55);
$base: rgb(31, 31, 40);
$mantle: rgb(22, 22, 29);
$crust: rgb(11, 11, 15);
