$rosewater: #F5E0DC;
$flamingo: #F2CDCD;
$pink: #F5C2E7;
$mauve: #CBA6F7;
$red: #F38BA8;
$maroon: #EBA0AC;
$peach: #FAB387;
$yellow: #F9E2AF;
$green: #A6E3A1;
$teal: #BDD6DB;
$sky: #89DCEB;
$sapphire: #74C7EC;
$blue: #87B0F9;
$lavender: #B4BEFE;
$text: hsl(344, 29%, 80%);
$subtext1: hsl(344, 29%, 72%);
$subtext0: hsl(344, 29%, 64%);
$overlay2: hsl(344, 29%, 56%);
$overlay1: hsl(344, 29%, 48%);
$overlay0: hsl(344, 29%, 40%);
$surface2: hsl(344, 29%, 32%);
$surface1: hsl(344, 29%, 24%);
$surface0: hsl(344, 29%, 16%);
$base: hsl(344, 29%, 10%);
$mantle: hsl(344, 29%, 6%);
$crust: hsl(344, 29%, 3%);
$theme: "dark";

