$rosewater: #F5E0DC;
$flamingo: #F2CDCD;
$pink: #F5C2E7;
$mauve: #CBA6F7;
$red: #F38BA8;
$maroon: #EBA0AC;
$peach: #FAB387;
$yellow: #F9E2AF;
$green: #A6E3A1;
$teal: hsl(190 30% 80%);
$sky: #89DCEB;
$sapphire: #74C7EC;
$blue: #87B0F9;
$lavender: #B4BEFE;
$text: hsl(190 30% 80%);
$subtext1: hsl(190 30% 72%);
$subtext0: hsl(190 30% 64%);
$overlay2: hsl(190 30% 56%);
$overlay1: hsl(190 30% 48%);
$overlay0: hsl(190 30% 40%);
$surface2: hsl(190 30% 32%);
$surface1: hsl(190 30% 24%);
$surface0: hsl(190 30% 16%);
$base: hsl(190 30% 10%);
$mantle: hsl(190 30% 6%);
$crust: hsl(190 30% 3%);
$theme: "dark";
