$rosewater: #E2BFA9;
$flamingo: #EFAB96;
$pink: #D6A3DE;
$mauve: #B48EAD;
$red: #BF616A;
$maroon: #BF6C61;
$peach: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;
$teal: #8FBCBB;
$sky: #88C0D0;
$sapphire: #81A1C1;
$blue: #5E81AC;
$lavender: #C0A7BB;
$text: #ECEFF4;
$subtext1: #E5E9F0;
$subtext0: #D9DEE8;
$overlay2: #C4C9D4;
$overlay1: #ACB4C3;
$overlay0: #959EB2;
$surface2: #7D89A1;
$surface1: #434C5E;
$surface0: #3B4252;
$base: #2E3440;
$mantle: #272B35;
$crust: #1E2229;
$theme: "dark";
