$rosewater: 226, 191, 169;
$flamingo: 239, 171, 150;
$pink: 214, 163, 222;
$mauve: 180, 142, 173;
$red: 191, 97, 106;
$maroon: 191, 108, 97;
$peach: 208, 135, 112;
$yellow: 235, 203, 139;
$green: 163, 190, 140;
$teal: 143, 188, 187;
$sky: 136, 192, 208;
$sapphire: 129, 161, 193;
$blue: 94, 129, 172;
$lavender: 192, 167, 187;
$text: 236, 239, 244;
$subtext1: 229, 233, 240;
$subtext0: 217, 222, 232;
$overlay2: 196, 201, 212;
$overlay1: 172, 180, 195;
$overlay0: 149, 158, 178;
$surface2: 125, 137, 161;
$surface1: 103, 116, 142;
$surface0: 77, 87, 106;
$base: 67, 76, 94;
$mantle: 59, 66, 82;
$crust: 46, 52, 64;
$accent: 136, 192, 208;
