$rosewater: rgb(226, 191, 169);
$flamingo: rgb(239, 171, 150);
$pink: rgb(214, 163, 222);
$mauve: rgb(180, 142, 173);
$red: rgb(191, 97, 106);
$maroon: rgb(191, 108, 97);
$peach: rgb(208, 135, 112);
$yellow: rgb(235, 203, 139);
$green: rgb(163, 190, 140);
$teal: rgb(143, 188, 187);
$sky: rgb(136, 192, 208);
$sapphire: rgb(129, 161, 193);
$blue: rgb(94, 129, 172);
$lavender: rgb(192, 167, 187);
$text: rgb(236, 239, 244);
$subtext1: rgb(229, 233, 240);
$subtext0: rgb(217, 222, 232);
$overlay2: rgb(196, 201, 212);
$overlay1: rgb(172, 180, 195);
$overlay0: rgb(149, 158, 178);
$surface2: rgb(125, 137, 161);
$surface1: rgb(103, 116, 142);
$surface0: rgb(77, 87, 106);
$base: rgb(67, 76, 94);
$mantle: rgb(59, 66, 82);
$crust: rgb(46, 52, 64);
$accent: rgb(136, 192, 208);
