$rosewater: #D6817D;
$flamingo: #D6817D;
$pink: #907AA9;
$mauve: #907AA9;
$red: #B4637A;
$maroon: #B4637A;
$peach: #D6817D;
$yellow: #EA9D34;
$green: #56949F;
$teal: #56949F;
$sky: #286983;
$sapphire: #286983;
$blue: #286983;
$lavender: #907AA9;
$text: #575279;
$subtext1: #615C84;
$subtext0: #797593;
$overlay2: #807C99;
$overlay1: #9893A5;
$overlay0: #A19CAD;
$surface2: #CAC1B9;
$surface1: #D1C9C2;
$surface0: #DCD3CB;
$crust: #E5DCD4;
$mantle: #EBE3DB;
$base: #EFE7DE;
