$rosewater: #F3D7CC;
$flamingo: #EBBCBA;
$pink: #DFA7E7;
$mauve: #C4A7E7;
$red: #EB6F92;
$maroon: #EB7A6F;
$peach: #EB9F6F;
$yellow: #F6C177;
$green: #72B69C;
$teal: #9CCFD8;
$sky: #31748F;
$sapphire: #4484AB;
$blue: #4C7FA9;
$lavender: #D2C1E7;
$text: #E0DEF4;
$subtext1: #908CAA;
$subtext0: #6E6A86;
$overlay2: #524F67;
$overlay1: #403D52;
$overlay0: #363253;
$surface2: #2E2A46;
$surface1: #21202E;
$surface0: #1F1D2E;
$base: #191724;
$mantle: #111019;
$crust: #0B0A10;
