$rosewater: rgb(214, 129, 125);
$flamingo: rgb(214, 129, 125);
$pink: rgb(144, 122, 169);
$mauve: rgb(144, 122, 169);
$red: rgb(180, 99, 122);
$maroon: rgb(180, 99, 122);
$peach: rgb(214, 129, 125);
$yellow: rgb(234, 157, 52);
$green: rgb(86, 148, 159);
$teal: rgb(86, 148, 159);
$sky: rgb(40, 105, 131);
$sapphire: rgb(40, 105, 131);
$blue: rgb(40, 105, 131);
$lavender: rgb(144, 122, 169);
$text: rgb(87, 82, 121);
$subtext1: rgb(97, 92, 132);
$subtext0: rgb(121, 117, 147);
$overlay2: rgb(128, 124, 153);
$overlay1: rgb(152, 147, 165);
$overlay0: rgb(161, 156, 173);
$surface2: rgb(202, 193, 185);
$surface1: rgb(209, 201, 194);
$surface0: rgb(220, 211, 203);
$crust: rgb(229, 220, 212);
$mantle: rgb(235, 227, 219);
$base: rgb(239, 231, 222);
