$rosewater: rgb(243, 215, 204);
$flamingo: rgb(235, 188, 186);
$pink: rgb(223, 167, 231);
$mauve: rgb(196, 167, 231);
$red: rgb(235, 111, 146);
$maroon: rgb(235, 122, 111);
$peach: rgb(235, 159, 111);
$yellow: rgb(246, 193, 119);
$green: rgb(114, 182, 156);
$teal: rgb(156, 207, 216);
$sky: rgb(49, 116, 143);
$sapphire: rgb(68, 132, 171);
$blue: rgb(76, 127, 169);
$lavender: rgb(210, 193, 231);
$text: rgb(224, 222, 244);
$subtext1: rgb(144, 140, 170);
$subtext0: rgb(110, 106, 134);
$overlay2: rgb(82, 79, 103);
$overlay1: rgb(64, 61, 82);
$overlay0: rgb(54, 50, 83);
$surface2: rgb(46, 42, 70);
$surface1: rgb(33, 32, 46);
$surface0: rgb(31, 29, 46);
$base: rgb(25, 23, 36);
$mantle: rgb(17, 16, 25);
$crust: rgb(11, 10, 16);
