$rosewater: #A57562;
$flamingo: #A57562;
$pink: #B48EAD;
$mauve: #B48EAD;
$red: #BF616A;
$maroon: #BF616A;
$peach: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;
$teal: #8FBCBB;
$sky: #88C0D0;
$sapphire: #88C0D0;
$blue: #5E81AC;
$lavender: #81A1C1;
$text: #A3A5AA;
$subtext1: #878991;
$subtext0: #6E7177;
$overlay2: #5C5C5C;
$overlay1: #525252;
$overlay0: #474747;
$surface2: #3D3D3D;
$surface1: #333333;
$surface0: #282828;
$base: #232323;
$mantle: #1E1E1E;
$crust: #191919;
