$rosewater: rgb(165, 117, 98);
$flamingo: rgb(165, 117, 98);
$pink: rgb(180, 142, 173);
$mauve: rgb(180, 142, 173);
$red: rgb(191, 97, 106);
$maroon: rgb(191, 97, 106);
$peach: rgb(208, 135, 112);
$yellow: rgb(235, 203, 139);
$green: rgb(163, 190, 140);
$teal: rgb(143, 188, 187);
$sky: rgb(136, 192, 208);
$sapphire: rgb(136, 192, 208);
$blue: rgb(94, 129, 172);
$lavender: rgb(129, 161, 193);
$text: rgb(163, 165, 170);
$subtext1: rgb(135, 137, 145);
$subtext0: rgb(110, 113, 119);
$overlay2: rgb(92, 92, 92);
$overlay1: rgb(82, 82, 82);
$overlay0: rgb(71, 71, 71);
$surface2: rgb(61, 61, 61);
$surface1: rgb(51, 51, 51);
$surface0: rgb(40, 40, 40);
$base: rgb(35, 35, 35);
$mantle: rgb(30, 30, 30);
$crust: rgb(25, 25, 25);
