$rosewater: #E4D4C4;
$flamingo: #D6BCAE;
$pink: #C8A498;
$mauve: #95888A;
$red: #A6897B;
$maroon: #BA907B;
$peach: #C7A187;
$yellow: #D4BBA0;
$green: #989686;
$teal: #959C99;
$sky: #8A9BA3;
$sapphire: #7C858F;
$blue: #6D6F7B;
$lavender: #87808E;
$text: #685850;
$subtext1: #6C5C54;
$subtext0: #6F6058;
$overlay2: #766760;
$overlay1: #7C6E67;
$overlay0: #82756E;
$surface2: #CDC5C1;
$surface1: #D4CDC8;
$surface0: #DED8D1;
$crust: #E6DFD8;
$mantle: #EDE7E0;
$base: #F0EAE2;
$theme: "light";
