$rosewater: #E38359;
$flamingo: #F18EA8;
$pink: #D33682;
$mauve: #6C71C4;
$red: #DC322F;
$maroon: #DC3C2E;
$peach: #CB4B16;
$yellow: #B58900;
$green: #859900;
$teal: #2AA198;
$sky: #2A91A1;
$sapphire: #27A8D3;
$blue: #268BD2;
$lavender: #8B8FDE;
$text: #FDF6E3;
$subtext1: #EDE8D6;
$subtext0: #E1D7B7;
$overlay2: #93A1A1;
$overlay1: #759FA3;
$overlay0: #6AA8AF;
$surface2: #338199;
$surface1: #266173;
$surface0: #0A4C5C;
$base: #073642;
$mantle: #002B36;
$crust: #002129;
