$rosewater: rgb(227, 131, 89);
$flamingo: rgb(241, 142, 168);
$pink: rgb(211, 54, 130);
$mauve: rgb(108, 113, 196);
$red: rgb(220, 50, 47);
$maroon: rgb(220, 60, 46);
$peach: rgb(203, 75, 22);
$yellow: rgb(181, 137, 0);
$green: rgb(133, 153, 0);
$teal: rgb(42, 161, 152);
$sky: rgb(42, 145, 161);
$sapphire: rgb(39, 168, 211);
$blue: rgb(38, 139, 210);
$lavender: rgb(139, 143, 222);
$text: rgb(253, 246, 227);
$subtext1: rgb(237, 232, 214);
$subtext0: rgb(225, 215, 183);
$overlay2: rgb(147, 161, 161);
$overlay1: rgb(117, 159, 163);
$overlay0: rgb(106, 168, 175);
$surface2: rgb(51, 129, 153);
$surface1: rgb(38, 97, 115);
$surface0: rgb(10, 76, 92);
$base: rgb(7, 54, 66);
$mantle: rgb(0, 43, 54);
$crust: rgb(0, 33, 41);
