//Credits: ToxicAven
// Show edit timestamps in the edited message
[class*="timestamp-"]:not([class*="timestampInline-"], [class*="timestampVisibleOnHover-"])
  time::after {
  content: " (" attr(aria-label) ")";
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
}
[class*="edited-"] {
  display: none;
}
// Remove sticker suggestion popup (why discord why)
[class*="container-"][class*="stickerIconOffset-"],
section[class*="chatContent-"] form [class*="container-"] {
  display: none;
}
// Various nitro cleanups
[class*="userPopoutInner-"] > [class*="wrapper-"],
[class^="premiumTier0Badge-"],
[class*="premiumFeatureBorder-"],
[class*="emojiSection-"] > [class*="shinyButton-"],
[aria-label="Send a gift"],  //Gift nitro button
[aria-label="Open sticker picker"] { //sticker button
  display: none;
}

//remove vencord anime (haram)
.vc-settings-card::after {
    content: ' ';
    width: 250px;
    background: url('https://media.tenor.com/bU7TCU-uk_cAAAAC/i-swear-to-bro-bro.gif');
    height: auto;
    display: flex;
    aspect-ratio: 392/498;
    margin-right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
img[role="presentation"] {
  display: none;
}
.vc-settings-card.vc-settings-donate {
  display: none;
}

//remove ctp thread colors

ul[aria-label$=" threads"] > li:nth-child(n) {
    --channels-default: inherit;
    --interactive-hover: inherit;
    --interactive-active: inherit;
}
//hide scrollbars
*::-webkit-scrollbar {
  display: none;
}
//vencord delete modification
.messagelogger-red-text.messagelogger-red-text.messagelogger-red-text.messagelogger-red-text .messagelogger-deleted div {
  color: $red;
}
//new messages
[class*="newMessagesBar-"][class*="newMessagesBar-"][class*="newMessagesBar-"][class*="newMessagesBar-"][class*="newMessagesBar-"][class*="newMessagesBar-"] {
  top: 8px;
  border-radius: 8px;
  margin: 0 auto;
  width: fit-content;
  left: 16px;
  right: 16px;
}
[class*="pencilIcon-"][class*="pencilIcon-"][class*="pencilIcon-"] {
  color: $text;
}
[class*="searchBar-"] {
  transition: width 300ms;
}

//join this server notice
.notice-1x8lm-.notice-2HEN-u {
  transform: translateX(-50%) translateY(-60px);
  transition-delay: 150ms;
  transition-duration: 150ms;
  position: absolute;
  left: 50%;
  top: 0px;
  border-radius: 7px;
  padding: 10px;
  &::after {
    display: block;
    content: " ";
    position: absolute;
    width: calc(100% + 40px);
    height: 60px;
    top: calc(100% - 5px);
  }
  &:hover {
    transform: translateX(-50%) translateY(10px);
    transition-delay: 150ms;
    transition-duration: 300ms;
    transition: 300ms;
  }
div#vc-spotify-player .vc-spotify-button-row {
    margin-top: -32px;
    opacity: 0;
    transition: opacity 0.1s 0.2s, margin-top 0.2s 0.2s;
}
div#vc-spotify-player:hover .vc-spotify-button-row {
    margin-top: 0;
    opacity: 1;
}
}
@import "comfy";
[class*=userPopoutOuter-] [class*=scroller-] {
  padding-left: 4px;
}
[class*=userPopoutOuter-][class*=userPopoutOuter-][class*=userPopoutOuter-][class*=userPopoutOuter-][class*=userPopoutOuter-][class*=userPopoutOuter-],
[class*=userPopoutOuter-] [class*=activity-] [class*=timeBarUserPopoutV2-],
[class*=userPopoutOuter-] [class*=activity-] [class*=timeBarUserPopoutV2-]::before,
[class*=userPopoutOuter-] [class*=activity-]::before,
[class*=userPopoutOuter-] [class*=activity-]::after,
[class*=userPopoutOuter-] [class*=activity-] [class*=headerTextNormal-]::before {
  --wave-width: 300px !important;
}
[class*=userPopoutOuter-] [class*=activity-] [class*=headerTextNormal-]::before {
  background: var(--profile-body-background-color) !important;
}
//new notification style
.vc-notification-root {
  width: min-content !important;
  .vc-notification-header::before {
    content: '';
    background: #{$brand};
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242'%3E%3C/path%3E%3Cpath d='M12 12v9'%3E%3C/path%3E%3Cpath d='m8 17 4 4 4-4'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background .2s ease-in-out, background-color .2s ease-in-out;
  }
  .vc-notification-header {
    gap: 10px;
    &:hover {
      &::before {
        background: #{lighten($brand, 30%)};
      }
    }
  }
  .vc-notification-title, .vc-notification-p {
    display: none;
  }
}
.webkit-QgSAqd .buttons-uaqb-5 {
  margin-right: 0;
}
// bring back :pleading_face:
img.emoji[aria-label="🥺"] {
    background: url('https://raw.githubusercontent.com/jdecked/twemoji/a75e31ed39525b820993c2c63b114c50762fe7ee/assets/svg/1f97a.svg');
    padding: 0.65375rem;
    width: 0;
    height: 0;
}
img.emoji.jumboable[aria-label="🥺"] {
    background: url('https://raw.githubusercontent.com/jdecked/twemoji/a75e31ed39525b820993c2c63b114c50762fe7ee/assets/svg/1f97a.svg');
    padding: 1.5rem;
    height: 0;
    width: 0;
    background-repeat: no-repeat;
    min-height: 0;
}
#vc-spotify-album-image#vc-spotify-album-image#vc-spotify-album-image:hover {
  filter: none;
}
//hide discord timestamp and show on hover
.mouse-mode.full-motion [class*=message-] {
  [class*=timestamp-] {
    display: none;
  }
}
[class*=message-][class*=selected-],
.mouse-mode.full-motion [class*=message-]:hover {
  [class*=timestamp-] {
    display: inline-block;
  }
}
